[Unit]
Description=MDL {{ service_name }}
After=network.target

[Service]
LimitNOFILE=1000000
LimitCORE=infinity
User={{ user }}
WorkingDirectory={{ install_dir }}
Type=forking
ExecStart={{ install_dir }}/feeder_handler -d
KillMode=process
TimeoutStopSec=120
Restart=on-failure
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
