import os
import base64
import json
try:
    from urllib.request import Request, urlopen
    from urllib.error import HTTPError, URLError
except ImportError:
    from urllib2 import Request, urlopen, HTTPError, URLError

CONSUL_SPACE = '{{ consul_space }}'
CONSUL_TOKEN = os.environ['CONSUL_TOKEN']

FILE_DIR = '{{ install_dir }}'
FILE_STR = '{{ consul_files | default("feeder_handler.cfg") }}'
FILES = [f.strip() for f in FILE_STR.split(',') if f.strip()]


def fetch_and_save_file(consul_url, filename):
    req = Request(consul_url, headers={'X-Consul-Token': CONSUL_TOKEN})
    try:
        with urlopen(req) as resp:
            data = json.loads(resp.read().decode('utf-8'))
            value = base64.b64decode(data[0]['Value'])
            with open(os.path.join(FILE_DIR, filename), 'wb') as f:
                f.write(value)
    except HTTPError as e:
        print('Failed to get %s: HTTP %s' % (filename, e.code))
        exit(1)
    except URLError as e:
        print('Failed to get %s: %s' % (filename, e.reason))
        exit(1)


def get_conf():
    for filename in FILES:
        fetch_and_save_file(CONSUL_SPACE + filename, filename)


if __name__ == '__main__':
    get_conf()

